# dependencies
node_modules/
Phone-Shop-front-end/node_modules/
Phone-Shop-back-end/node_modules/

# env files
.env
Phone-Shop-front-end/.env
Phone-Shop-back-end/.env

# build files
Phone-Shop-front-end/dist/
Phone-Shop-front-end/build/

# logs
*.log

# IDE
.vscode/
.idea/